<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Needed to enumerate installed apps for the Apps screen on Android 11+. -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:label="RootDeck"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/Theme.RootDeck">
        
        <!-- LSPosed/Xposed Module Metadata -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="RootDeck Doppelganger - Hooks PackageManager, UserManager, ANDROID_ID, and Attestation" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="RootDeck">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
